{% extends 'base.html' %}
    
{% block title %}Datos de Domicilio{% endblock %}

{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}"> 
{% endblock %}

{% block content %}    

<div class="form-container">

    <h1>Datos de Domicilio</h1>

    <form action="" method="post" class="modern-form">
      
        {{ form.csrf_token }}

        <div class="form-field">
            <label for="{{ form.id_estado.id_for_label }}">Estado:</label>
            {{ form.id_estado(class="input-field", placeholder="Estado") }}
            {% if form.id_estado.errors %}
                {% for error in form.id_estado.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-field">
            <label for="{{ form.municipio.id_for_label }}">Municipio:</label>
            {{ form.municipio(class="input-field", placeholder="Municipio") }}
            {% if form.municipio.errors %}
                {% for error in form.municipio.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-field">
            <label for="{{ form.cp.id_for_label }}">Código Postal:</label>
            {{ form.cp(class="input-field", placeholder="Código Postal") }}
            {% if form.cp.errors %}
                {% for error in form.cp.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-field">
            <label for="{{ form.tipo_asen.id_for_label }}">Tipo de Asentamiento:</label>
            {{ form.tipo_asen(class="input-field", placeholder="Tipo de Asentamiento") }}
            {% if form.tipo_asen.errors %}
                {% for error in form.tipo_asen.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-field">
            <label for="{{ form.asentamiento.id_for_label }}">Nombre del Asentamiento:</label>
            {{ form.asentamiento(class="input-field", placeholder="Nombre del Asentamiento") }}
            {% if form.asentamiento.errors %}
                {% for error in form.asentamiento.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-field">
            <label for="{{ form.calle.id_for_label }}">Calle:</label>
            {{ form.calle(class="input-field", placeholder="Calle") }}
            {% if form.calle.errors %}
                {% for error in form.calle.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-field">
            <label for="{{ form.num_ext.id_for_label }}">Número Exterior: (opcional)</label>
            {{ form.num_ext(class="input-field", placeholder="Número exterior", required=False )}}
            {% if form.num_ext.errors %}
                {% for error in form.num_ext.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-field">
            <label for="{{ form.num_int.id_for_label }}">Número Interior: (opcional)</label>
            {{ form.num_int(class="input-field", placeholder="Número Interior", required=False)}}
            {% if form.num_int.errors %}
                {% for error in form.num_int.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <br>
        <div class="form-field">
            {{ form.submit(class="submit-button") }}
        </div>
    </form>

</div>


{% endblock %}
    