{% extends 'base.html' %}
    
{% block title %}Préstamos{% endblock %}

{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loan.css') }}"> 
{% endblock %}

{% block content %}  

<div>
    {% if is_approved == 1 %}
    <button class="purple-button" style="margin-left: 23rem;">
        <a class="primerlink" href="{{ url_for('loan.solicitar') }}">Solicita tu préstamo</a>
    </button>
    {% endif %}
</div>

<main>
    <p>Información sobre los préstamos para todo el público, estando o no en sesión</p>
</main>

{% endblock %}