{% extends 'base.html' %}
    
{% block title %}Préstamos{% endblock %}

{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loan.css') }}"> 
{% endblock %}

{% block content %}  

<div>
    {% if is_approved == 1 and existing_loan.estado != 'Aprobado' and existing_loan.estado != 'Activo' %}
    <button class="purple-button" style="margin-left: 23rem;">
        <a class="primerlink" href="{{ url_for('loan.solicitar_prestamo') }}">Solicita tu préstamo</a>
    </button>
    {% elif is_approved == 1 and existing_loan.estado == 'Aprobado' %}
    <button class="purple-button" style="margin-left: 23rem;">
        <a class="primerlink" href="{{ url_for('loan.finalizar_solicitud') }}">Finalizar solicitud de préstamo</a>
    </button>
    {% elif is_approved == 1 and existing_loan.estado == 'Activo' %}
    <button class="purple-button" style="margin-left: 23rem;">
        <a class="primerlink" href="{{ url_for('loan.loan') }}">Mi Préstamo</a>
    </button>
    
    {% endif %}
</div>

<main>
    <p>Información sobre los préstamos para todo el público, estando o no en sesión</p>
</main>

{% endblock %}