{% extends 'base_admin2.html' %}
    
{% block title %}Administración-Clientes{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/flash_admin.css') }}">
{% endblock %}

{% block content %}
    <main>
    <!-- Mensajes flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
        <div class="header">
            <h1>Administración - Préstamos Ortega</h1>
            <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="logo" class="logo">
        </div>
        <hr>
        <div>
            <h2>Listado de Clientes</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Género</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Nivel Educativo</th>
                        <th>Ocupación</th>
                        <th>Ingresos Mensuales</th>
                        <th>CURP</th>
                        <th>Teléfono</th>
                        <th>Teléfono Casa</th>
                        <th>Correo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr class="client-row">
                        <td>{{ user.nombre }} {{ user.ape_pat }} {{ user.ape_mat }}</td>
                        <td>{{ user.genero }}</td>
                        <td>{{ user.fecha_nacimiento }}</td>
                        <td>{{ user.nivelEdu }}</td>
                        <td>{{ user.ocupacion }}</td>
                        <td>${{ user.ingresos_mensuales }}</td>
                        <td>{{ user.curp }}</td>
                        <td>{{ user.tel_cel }}</td>
                        <td>{{ user.tel_casa }}</td>
                        <td class="td-email">{{ user.email }}</td>
                        <td>
                            <button class="desplazamiento">
                                <a href="{{ url_for('admin.mostrar_domicilio_clientes', id_usuario=user.id_usuario) }}">
                                    Domicilio
                                </a>
                            </button>
                            <form action="{{ url_for('admin.delete', id=user.id_usuario) }}" method="POST" onsubmit="return confirm('¿Estás seguro de eliminar al cliente?');">
                                <button type="submit" class="reject">Eliminar</button>
                            </form>                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <button type="button" class="desplazamiento">
                <a href="{{ url_for('admin.admin') }}">
                    Regresar
                </a>
            </button>
        </div>
    </main>
{% endblock %}