{% extends 'base_admin2.html' %}
    
{% block title %}Administración-Préstamos Ortega{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/flash_admin.css') }}">
{% endblock %}

{% block content %}
      <main>
        <!-- Mensajes flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
        <div class="header">
          <h1>Administración - Préstamos Ortega</h1>
          <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="logo" class="logo">
        </div>
        <hr>
        <div>
          <h2>Usuarios registrados sin aprobar</h2>
          {% if users %}
              <table>
                  <thead>
                      <tr>
                          <th>Nombre</th>
                          <th>Género</th>
                          <th>Fecha de Nacimiento</th>
                          <th>Nivel Educativo</th>
                          <th>Ocupación</th>
                          <th>Ingresos Mensuales</th>
                          <th>CURP</th>
                          <th>Teléfono</th>
                          <th>Teléfono Casa</th>
                          <th>Correo</th>
                          <th>Acciones</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for usuario in users %}
                      <tr class="user-row">
                          <td>{{ usuario.nombre }} {{ usuario.ape_pat }} {{ usuario.ape_mat }}</td>
                          <td>{{ usuario.genero }}</td>
                          <td>{{ usuario.fecha_nacimiento }}</td>
                          <td>{{ usuario.nivelEdu }}</td>
                          <td>{{ usuario.ocupacion }}</td>
                          <td>${{ usuario.ingresos_mensuales }}</td>
                          <td>{{ usuario.curp }}</td>
                          <td>{{ usuario.tel_cel }}</td>
                          <td>{{ usuario.tel_casa }}</td>
                          <td class="td_emailU">{{ usuario.email }}</td>
                          <td>
                            <button class="approve">
                              <a href="{{ url_for('admin.aprobar_usuario', id_usuario=usuario.id_usuario) }}" 
                                 onclick="return confirm('¿Estás seguro de que deseas aprobar a este usuario?');">
                                  Aprobar
                              </a>
                            </button>
                            <button class="reject">
                              <a href="{{ url_for('admin.rechazar_usuario', id_usuario=usuario.id_usuario) }}"
                                 onclick="return confirm('¿Estás seguro de que deseas rechazar a este usuario?');">
                                  Rechazar
                              </a>
                            </button>
                          </td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          {% else %}
              <p>No hay usuarios pendientes de aprobación.</p>
          {% endif %}
        </div>
        <hr>
        <div>
          <h2>Solicitudes de Préstamo</h2>
          {% if loansP %}
              <table>
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>Cliente</th>
                          <th>Correo</th>
                          <th>Monto</th>
                          <th>Interès</th>
                          <th>Monto Total</th>
                          <th>Plazo</th>
                          <th>Estado</th>
                          <th>Acciones</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for loanP in loansP %}
                      <tr class="loan-row">
                          <td>{{ loanP.id_prestamo }}</td>
                          <td>{{ loanP.nombre }} {{ loanP.ape_pat }} {{ loanP.ape_mat }}</td>
                          <td class="td-email">{{ loanP.email }}</td>
                          <td>${{ loanP.monto }}</td>
                          <td>15%</td>
                          <td>${{ loanP.monto_total }}</td>
                          <td>{{ loanP.plazo }} meses</td>
                          <td>{{ loanP.estado }}</td>
                          <td>
                            <form action="{{ url_for('admin.aprobar_prestamo', id_prestamo=loanP.id_prestamo) }}" method="POST" 
                                  onsubmit="return confirm('¿Estás seguro de que deseas aprobar la solicitud de préstamo?');">
                                <button class="approve" type="submit" id="approve_loan">Aprobar</button>
                            </form>
                            <form action="{{ url_for('admin.rechazar_prestamo', id_prestamo=loanP.id_prestamo) }}" method="POST" 
                                  onsubmit="return confirm('¿Estás seguro de que deseas rechazar la solicitud de préstamo?');">
                                <button class="reject" type="submit">Rechazar</button>
                            </form>
                          </td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          {% else %}
              <p>No hay solicitudes de préstamo pendientes de aprobación.</p>
          {% endif %}
        </div>
      </main>
{% endblock %}