{% extends 'base.html' %}
    
{% block title %}Préstamos{% endblock %}

{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loan.css') }}"> 
{% endblock %}

{% block content %}  

<div class="position-relative overflow-hidden p-3 text-center bg-body-tertiary">
    <h1 class="fw-normal">Solicitar Préstamo</h1> <br>

    <form action="" method="post">
        {{ form.csrf_token }}

        <div>
            <label for="{{ form.monto.id_for_label }}">Monto requerido:</label>
            {{ form.monto(class="input-field", placeholder="Monto", required=True) }}
            {% if form.monto.errors %}
                {% for error in form.monto.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <br>
        <div>
            <label for="{{ form.plazo.id_for_label }}">Plazo (en meses):</label>
            {{ form.plazo(class="input-field", placeholder="Plazo", required=True) }}
            {% if form.plazo.errors %}
                {% for error in form.plazo.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <br>
        <div>
            {{ form.submit(class="btn btn-primary", id="btn-submit") }}
        </div>

    </form>

</div>

{% endblock %}